<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by <b>Ajeet Eppakayala</b>.</p>
        <p>Using Node.Js and API's from Darksy.net and Mapbox.com</p>
        <p>Under the Guidance of <b>Andrew Mead</b>.</p>
        <img class="portrait" src="img/goku.jpg">
    </div>
    {{>footer}}
</body>

</html>